---
export interface Props{
    category: string;
}
const {category} = Astro.props;
---
<div class="movie-list">
    <h1>{category}</h1>
    <div class="movies-container">
        <div class="movies">
            <slot />
        </div>
    </div>
</div>

<style>
    .movie-list{
        min-width: 70vh;
        min-height: 50vh;
    }
    .movie-list > h1{
        color: white;
        font-size: 20px;
    }
    .movies-container{
        display: flex;
        flex: 1;
        overflow: auto;
        margin-top: 50px;
    }
    .movies{
        display: flex;
        flex-direction: row;
        min-width: min-content;
        gap: 0px;
    }
</style>