---
const {logoname} = Astro.props;
---
<a href="index.html">
    <h1>{logoname}</h1>
</a>

<style>
    h1{
        color: red;
        font-size: 35px;
    }
    a{
        text-decoration: none;
        transition: all .2s;
    }
    a:hover{
        transform: translateY(-3px);
    }
</style>