---

---
<form method="GET">
    <input type="email" name="email" id="email" placeholder="Email address">
    <input type="submit" name="submit" id="submit" value="Get Started">
</form>

<style>
    form{
        display: flex;
        width: 50%;
        height: 5vh;
    }
    #email{
        flex-basis: 75%;
        background-color: white;
        border: none;
        padding: 5px;
    }
    #submit{
        color: white;
        background-color: red;
        padding: 5px;
        border: none;
    }
</style>